.values_list {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}
.values_list_content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.values_list_title {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}
.values_list_svg {
  width: 24px;
  height: 24px;
  display: flex;
}
.values_list_item {
  display: flex;
  width: 100%;
  max-width: 710px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.values_full_block {
  width: calc(100% - 40px);
  margin: 20px 20px 60px;
  border-radius: 24px;
  background: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.values_full_block_inside {
  padding: 60px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1340px;
}
